html{

  font-family: 'Roboto', sans-serif;
}

body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.title{
  font-family: 'Rokkitt', serif;
}

hr{
  width: 30px;
  border: 2px solid black;
  position: absolute;
  left: 2px;
}
